.service {
  h2 {
    font-size: 30px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  p {
    font-size: 18px;
  }
  display: grid;
  justify-content: center;
  padding: 15px 15px;
  background-color: rgba(255, 255, 255, 0.5);
  .titleCost {
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
    gap: 10px;
  }
  .description {
    text-align: center;
    color: black;
  }
}
@media (max-width: 700px) {
  .service {
    h2 {
      font-size: 30px !important;
      letter-spacing: 3px !important;
    }
    p {
      font-size: 18px !important;
    }
  }
}
@media (max-width: 520px) {
  .service {
    h2 {
      font-size: 20px !important;
      letter-spacing: 3px !important;
    }
    p {
      font-size: 15px !important;
    }
  }
}
