@import "../../styles/_vars.scss";
.barbersSection {
  box-shadow: 2px 0 5px rgba($color: #000000, $alpha: 0.5);
  // filter: blur(1px);
  .wrapper {
    display: grid;
    justify-content: center;
    color: $accent_color;
    padding-bottom: 150px;
    .barbers {
      display: grid;
      justify-content: center;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
      margin-top: -180px;
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 1024px) {
  .barbers {
    grid-template-columns: 1fr 1fr !important;
    gap: 50px !important;
    justify-self: center;
  }
}
@media (max-width: 700px) {
  .barbers {
    grid-template-columns: 1fr !important;
    gap: 10px !important;
  }
}
@media (max-width: 520px) {
  .barbers {
    margin-top: -100px !important;
  }
}
@media (max-width: 425px) {
  .barbers {
    margin-top: -60px !important;
  }
}
